# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
17_G12/nbproject/private/private.xml
17_G12/.idea/workspace.xml
17_G12/nbproject/private/private.xml
17_G12/src/Stephie_build/Room.java
17_G12/src/nicolai/Actor.java
17_G12/src/nicolai/Actor.java
17_G12/build/built-jar.properties
17_G12/nbproject/private/private.properties
17_G12/nbproject/private/private.properties
17_G12/nbproject/private/private.xml
17_G12/nbproject/private/private.xml
/17_G12/dist/